<div class="col-md-6"> 
  <div class="boxed-section request-form">
    <h2 class="section-title text-center">Edit Book</h2>
    <%= form_for @book do |form|%>
      <% if @book.errors.any? %>
        <div id="error_explanation">
           <h2><%= pluralize(@book.errors.count, "error") %> prohibited this message from being saved:</h2>
           <ul>
             <% (@book.errors.full_messages).each do |msg| %>
             <% #Should have been: @location.errors.full_messages.each do |msg| %>
             <li>
               <%= msg %>
             </li>
             <% end %>
           </ul>
        </div>
      <% end %>
      <%=form.label :book_name %>
      <%=form.text_field :book_name%>

      <%=form.label :author_name %>
      <%=form.text_field :author_name%>

      <%=form.label :book_price %>
      <%=form.text_field :book_price%>

      <%=form.label :category %>
      <%category_array=Category.all.map{|category| [category.category_name]} %>
        <%=form.collection_select:category_id,Category.order(:id),:id,:category_name %>

      <%=form.label :book_language %>
      <%=form.text_field :book_language%>

      <%=form.label :book_publish_year %>
      <%=form.date_field :book_publish_year%>

      <%=form.label :book_publisher_name %>
      <%=form.text_field :book_publisher_name%>

      <%=form.label :duration_of_giving_book %>
      <%=form.date_field :duration_of_giving_book %>

      <%=form.label :book_price_for_rent %>
      <%=form.text_field :book_price_for_rent %>

      <%=form.label :Image_of_book %>
      <%= form.file_field :bookImage, id: :picture_image %>

      <%= form.submit %>

    <%end%>
  </div>
</div>
