<%= form_for @address do |form|%>
      <%= form.label :Full_name%>
      <%= form.text_field :full_name%>

      <%= form.label :Address_line_1%>
      <%= form.text_field :address_line1%>

      <%= form.label :Address_line_1%>
      <%= form.text_field :address_line2%>

      <%= form.label :state%>
      <%= form.select :state, CS.states(:in)%>
      <%= form.label :country%>
      <%= form.text_field :country%>

      <div id='city-list' remote: true>
        <%= render partial: 'city_list'%> <%#= f.text_field :city %> 
      </div>


      <%= form.label :pincode%>
      <%= form.text_field :pincode%>
      <%= form.submit%>
<%end%>