<div class="col-md-6"> 
  <div class="boxed-section request-form">
    <%= link_to "view Address", addresses_path %>
    <h2 class="section-title text-center">Enter Your Address</h2>
    <%= form_for @address do |form|%>
      <%= form.label :Full_name%>
      <%= form.text_field :full_name%>

      <%= form.label :Address_line_1%>
      <%= form.text_field :address_line1%>

      <%= form.label :Address_line_1%>
      <%= form.text_field :address_line2%>

      <%= form.label :state%>
      <%= form.select :state, CS.states(:in)%>

      <div id='city-list' remote: true>
        <%= render partial: 'city_list'%> <%#= f.text_field :city %> 
      </div>


      <%= form.label :pincode%>
      <%= form.text_field :pincode%>
      <%= form.submit%>
    <%end%>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function()
  {
    $("#address_state").on("change", function()
    {
      
      $.ajax({
        url: 'change_city',
        method: 'GET',
        data: 
        {
          state: $(this).val()
        }
      });
    });
  });

</script>